@media (min-width: 576px) {
   .territory {
      &__item-link {
         font-size: 17px;
         line-height: 23px;
         margin-bottom: 22px;
      }
      &__item-inner {
         padding: 0px 55px 23px;
      }
      &__item-title {
         padding: 34px 10px 0 55px;
         font-size: 24px;
         line-height: 33px;
         margin-bottom: 10px;
      }
      &__item-link {
         font-size: 14px;
         line-height: 20px;
         margin-bottom: 22px;
      }
      &__item-link:nth-child(2),
      &__item-link:nth-child(4),
      &__item-link:nth-child(6) {
         font-size: 20px;
         line-height: 27px;
         margin-bottom: 9px;
      }
      &__item-link a {
         font-size: 16px;
         line-height: 22px;
      }
      &__item-text {
         font-size: 17px;
         line-height: 23px;
      }
   }
   .gallery {
      &__item-lg {
         .gallery__video-btn,
         .gallery__video-btn--sm {
            width: 148px;
            height: 148px;
         }
      }
   }
   .questions {
      &__item {
         padding: 19px 16px;
      }
   }
}

@media (min-width: 720px) {
   body {
      font-size: 20px;
      line-height: 27px;
   }
   .section-page {
      padding: 45px 0;
   }
   .title {
      font-size: 30px;
      line-height: 36px;
      margin-bottom: 60px;
   }
   .menu {
      &__list {
         margin-left: auto;
         display: flex;
         margin-right: 40px;
         transform: none;
      }
      &__list-item + .menu__list-item {
         margin-left: 64px;
      }
      &__top-tel {
         display: block;
         padding: 13px 52px;
         width: 100%;
      }
      &__btn {
         display: none;
      }
   }
   .header {
      &__top {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      &__inner-title {
         font-size: 48px;
         line-height: 57px;
      }
      &__main {
         padding: 30px 0;
      }
      &__img {
         position: absolute;
         right: -300px;
         top: 139px;
      }
      &__inner {
         padding: 60px 0;
         width: 51%;
      }
      &__inner-text {
         max-width: 80%;
      }
      &__inner-buttons {
         margin-top: 65px;
         display: flex;
      }
      &__inner-btn + .header__inner-btn {
         margin-left: 21px;
         margin-top: 0;
      }
   }
   .about {
      &__item {
         width: 50%;
      }
      &__item-box {
         width: 170px;
         height: 110px;
      }
      &__item-box--first {
         display: none;
      }
      &__item-box--second {
         display: block;
      }
   }
   .gallery {
      &__slider-sm.slick-slider {
         display: block;
      }
      &__items {
         display: flex;
         flex-wrap: wrap;
         margin: 0 -15px;
         margin-bottom: 33px;
      }
      &__item img {
         width: 170px;
         height: 170px;
         margin: 0 15px;
      }
   }
   .gift {
      &__title {
         font-size: 48px;
         font-weight: 500;
         line-height: 56px;
         margin-bottom: 37px;
      }
   }
   .questions {
      &__item-title {
         font-weight: 400;
         font-size: 24px;
         line-height: 28px;
      }
      .questions__item {
         padding: 43px;
      }
   }
   .reviews {
      &__text-info {
         border-right: 1px solid #ffffff;
      }
      &__slider-text {
         padding: 44px 56px 36px;
      }
      &__text-title {
         margin-bottom: 38px;
      }
   }
   .reservation {
      &__btn {
         margin-bottom: 20px;
         .control-button {
            padding: 12px 55px;
         }
      }
   }
   .footer {
      &__columns {
         display: flex;
      }
      &__column {
         width: 25%;
         margin-right: 10px;
      }
      &__column-item {
         font-size: 16px;
         line-height: 19px;
         margin-bottom: 15px;
      }
      &__title {
         padding-top: 100px;
         font-size: 64px;
         line-height: 75px;
         margin-bottom: 68px;
      }
   }
}

@media (min-width: 960px) {
   .menu {
      &__list {
         margin-left: auto;
         display: flex;
         margin-right: 122px;
         transform: none;
      }
   }
   .header {
      &__img {
         position: absolute;
         right: -110px;
         top: 139px;
      }
   }
   .about {
      &__wrapper {
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         margin: 0 -15px;
      }
      &__item {
         margin: 0 15px;
         // & + .about__item {
         //    margin-left: 30px;
         // }
      }
      &__item:first-child {
         //order: 1;
      }
   }
   .territory {
      &__items {
         display: flex;
         margin: 0 -15px;
      }
      &__item {
         width: 33.33%;
         margin: 0 15px;
      }
      &__item-descr {
         width: 33.33%;
      }
   }
   .gallery {
      &__slider-sm {
         display: block;
         margin-bottom: 28px;
      }
   }
   .gift {
      &__slider.slick-slider {
         display: none;
      }
      &__items {
         display: flex;
         justify-content: space-between;
         margin: 0 -15px;
         margin-bottom: 25px;
      }
      &__item {
         max-width: 30%;
         display: flex;
         padding: 0;
         margin: 0 15px;
         text-align: left;
      }
      &__item-img {
         margin-right: 40px;
      }
      &__text {
         margin-bottom: 80px;
      }
   }
}

@media (min-width: 1140px) {
   .header {
      &__inner-text {
         max-width: 100%;
      }
   }
   .about {
      &__item-num {
         font-size: 40px;
         line-height: 47px;
      }
      &__item-info {
         font-size: 17px;
         line-height: 28px;
      }
   }
   .reviews {
      &__slider {
         display: flex;
         justify-content: space-between;
         min-height: 520px;
         margin: 0 -15px;
      }
      &__slider-img,
      &__slider-text {
         width: 50%;
         margin: 0 15px;
      }
      &__slider-text .slick-btn {
         position: absolute;
         bottom: 36px;
         border: none;
         background-color: transparent;
         z-index: 5;
         margin: 0 4px;
         outline: none;
         cursor: pointer;
      }
      &__slider-text .slick-prev {
         left: 40%;
      }
   }
   .footer {
      &__img {
         position: absolute;
         top: 0;
         right: -235px;
      }
   }
}

.modal {
   font-family: "Quicksand", sans-serif;
   &.fancybox-content {
      max-width: 540px;
      text-align: center;
      padding: 33px;
   }
   &__title {
      font-size: 38px;
      line-height: 47px;
      margin-bottom: 62px;
      span {
         display: block;
      }
   }
   input {
      display: block;
      padding: 16px 20px;
      margin-bottom: 15px;
      border: 1px solid #3750d0;
      border-radius: 3px;
      width: 100%;
      &::placeholder {
         font-weight: 300;
         color: #9f9f9f;
         font-size: 13px;
         line-height: 16px;
      }
   }
   .control-button {
      padding: 13px 25px;
      margin-top: 40px;
   }
   .fancybox-button svg {
      display: none;
      margin-top: 0;
   }
}
